
<div id="content">
	<div id="search-content">
		<div id="search-titles">
		 	<h1>cDemo Live</h1>
		 	<h3>{{::main.description}}</h3>
	 	</div>
	 	<!-- <a ui-sref="records">Records</a> -->
	 	<div id="search-form">
	 		<form role="search">
	 			<div id="div-search-bar">
	 			 	<input type="search" ng-model="main.searchTerm" placeholder="Enter Search" />
	 			</div>
	 			
	 			<section>
	 			 	<div id="div-product">
				
	 			 		<select id="product" ng-model="main.productSelected" ng-options="p.name for p in main.products"></select>
						<!--{{main.productSelected}}-->
	 					
	 				</div>

	 				<div id="div-category">
	 					<select id="product" ng-show="main.productSelected" ng-model="main.productCategorySelected" ng-options="c.name for c in main.productSelected.categories">
	 						<option value="">All</option>
	 					</select>
	 				</div>
	 			</section>

	 		 	<div id="div-search-button">
	 		 		<button ng-click="main.search()">Search</button>
	 		 	</div>
	 		</form>
	 	</div>
 	</div>
</div>
