@import "../../shared/variables.scss";

$font-color: #FFFFFF;


#content {
	width: 100%;
	background: url("../../../assets/images/cDemoLiveHomeBG.jpg");
	color: $font-color;

	h1 {
		font-size: 500%;
	}


	h3 {
		font-weight: normal;
	}
}



#search-content {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: "Century Gothic", sans;
	
	@include outer-container(95%);

	#search-form {
		margin-left: auto;
		margin-right: auto;
		@include media($desktop) {
			width: 65%;
		}

		select {
			@include default-select();
			width: 100%;
		}
	}
}



#div-search-bar {
	@include span-columns(12);

	input[type=search] {
		@include default-input();
	}
}



#div-product {
	@include span-columns(12);

	@include media($desktop) {
		@include span-columns(6);
	}
	padding-top: 10px;

	#product {
		
	}
}



#div-category {
	@include span-columns(12);

	@include media($desktop) {
		@include span-columns(6);
	}
	padding-top: 10px;

	#category {
	}
}



#div-search-button {
	@include span-columns(12);

	@include media($desktop) {
		@include span-columns(6);
		@include shift(3);
	}
	
	
	button {
		@include default-button();
	}

	button:hover {
		@include default-button-hover();
	}

	button:active {
		@include default-button-active();
	}
}
