<div id="gridview-content">
  <div class="gridTile" dir-paginate="x in vm.item| itemsPerPage:10" style="background-image: url({{x.primary_photo}})">
      <!--<div class="spacer" ng-show="show"></div>-->
      <!--<div class="hover-tile hover-tile-visible" ng-hide="show"></div>-->
      <div class="drawer">  
        <div class="popper">
          <div class="bringUp" ng-click="show=true" ng-hide="show" ng-animate="anim">⇖⇑⇑⇑⇑⇑⇑⇗</div>
          <div class="bringUp" ng-click="show=false" ng-show="show" ng-animate="anim">⇙⇓⇓⇓⇓⇓⇓⇘</div>
        </div>
        <h4 ng-click="show = !show">{{x.title}}</h4>
      
        <div class="details" ng-show="show" ng-click="show = !show">
          <p>Price: {{x.price | currency}}</p>
          <p>Odometer: {{x.odemeter | number}}</p>
          <p>Exterior: {{x.exterior}}</p>
          <p>Drivetrain: {{x.drivetrain}}</p>
        </div>
      </div>
  </div>

  <!--<div class="hover-tile-outer" dir-paginate="x in vm.item| itemsPerPage:10" style="background-image: url({{x.primary_photo}})">
    <div class="hover-tile-container">
      <!--<div class="spacer" ng-show="show"></div>-->
      <!--<div class="hover-tile hover-tile-visible" ng-hide="show"></div>
      <div id="alwaysShow">  
        <div class="popper">
          <div class="bringUp" ng-click="show=true" ng-hide="show" ng-animate="anim">⇖⇑⇑⇑⇑⇑⇑⇗</div>
          <div class="bringUp" ng-click="show=false" ng-show="show" ng-animate="anim">⇙⇓⇓⇓⇓⇓⇓⇘</div>
        </div>
        <h4 ng-click="show = !show">{{x.title}}</h4>
      </div>
      
      <div class="hover-tile hover-tile-hidden" ng-show="show" ng-click="show = !show">
        <p>Price: {{x.price | currency}}</p>
        <p>Odometer: {{x.odemeter | number}}</p>
        <p>Exterior: {{x.exterior}}</p>
        <p>Drivetrain: {{x.drivetrain}}</p>
      </div>

    </div>
  </div>-->
</div>
