@import "../../bourbon/bourbon";
@import "../../neat/neat";
$desktop: new-breakpoint(min-width 1000px);


#gridview-content {
	@include outer-container(95%);
	margin-right: auto;
	margin-left: auto;
	.spacer{
		height: 55px;
	}
	.hover-tile-outer {
		@include span-columns(12);

		@include media($desktop) {
			@include span-columns(3);
    		@include omega(4n);
		}
		@media only screen and (min-width:700px) and (max-width: 1000px){
			@include span-columns(5);
			margin-left: 48px;
		}
		background: url("http://o.aolcdn.com/commerce/autodata/images/USC60HOC021A121001.jpg");

		background-size: cover;
		margin-bottom: 15px;


		display: inline-block;
		overflow:hidden;
		border:1px solid grey;

		.hover-tile-container {
			height: 350px;
			position: relative;
			bottom: 55px;
		}

		.popper{
			color:white;
			background: transparentize(#000, 0.2);
			border-radius: 50px 50px 0 0;
			line-height:50%;
			width:50%;
			padding-top:10px;
			padding-bottom:5px;
			margin:auto;
		}

		/*.hover-tile-container:hover > .hover-tile {
			position: relative;
			bottom: -30px;
			transform: translate(0, -100%);
			background: #000;
		}*/

		.hover-tile {
			color: white;
			height: inherit;
			transition: all 0.3s ease-in-out;
		}

		.hover-tile-hidden {
			background: transparentize(#000, 0.2);
			height: 95%;
			//height: auto; makes it only come up to end of details
			p {
				text-align: left;
				color: white;
				line-height: 1.5em;
				margin-bottom: 0;
			}

			h4 {
				margin: 0 0 0.5em 0;
				padding-top: 3px;
			}
		}
	}
}
