@import "../../bourbon/bourbon";
@import "../../neat/neat";

$desktop: new-breakpoint(min-width 700px);



#actions-content {
	//@include span-columns(12);
	width: 90%;
	margin-left: auto;
	margin-right: auto;

	@include media($desktop) {
		width: 65%;
	}
}



.actions-button {
	$button-top: #53AEE0;
	$button-bottom: #289AD8;
	$button-border: #185D82;

	@include span-columns(12);
	display: inline-block;
	
	@include media($desktop) {
		@include span-columns(4);
	}

	button {
		background-color: $button-top;
		@include background-image(linear-gradient($button-top, $button-bottom));
	    border: 1px solid $button-border;
	    color: #FFFFFF;
	    margin-bottom: 10px;
	    margin-top: 10px;
	    text-shadow: 0px -1px $button-border;
		border-radius: 5px;
		box-shadow: inset 0px 1px rgba(255,255,255,0.4);
		letter-spacing: 2px;
		padding: 15px 0;
		text-align: center;
		text-transform: uppercase;
		width: 100%;
	}

	button:hover {
		@include background-image(linear-gradient(darken($button-top, 15%), darken($button-bottom, 15%)));
		cursor: pointer;
	}

	button:active {
		@include background-image(linear-gradient(darken($button-bottom, 15%), darken($button-top, 15%)));
		cursor: pointer;
	}
}


