@import "../../shared/variables.scss";


#actions-content {
	//@include outer-container(100%);
	width: 100%;
	margin-right: auto;
	margin-left: auto;
    

	@include media($desktop) {
		width: 80%;
	}


	.action-button {
		@include span-columns(12);
		@include media($desktop) {
			@include span-columns(4);
		}
		
		@include default-button();
	}

	.action-button:hover {
		@include default-button-hover();
	}

	.action-button:active {
	  @include default-button-active();	
	}


    .action-area {
        transition: all ease-in-out 0.5s;
        position: relative;
        top: 0;
        left: 0;
        background-color: #fefefe;
        padding: 20px;
        border: 1px solid #888;
        width: 100%;
        overflow-y: auto;
        box-shadow: 5px 5px 5px #888888;
    }

    /* Line below the heading inside the action area */
    .line-divide {
        display: inline-block;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
        width: 100%;
    }

    .ng-hide {
        top: 50px;
    }
}



.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
    transition: opacity 0.25s ease;
}

.modal-content {
    background-color: #fefefe;
    margin: 25px auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 90%; /* Could be more or less, depending on screen size */
    transition: opacity 0.25s ease;
    max-height: calc(100vh - 210px);
    height: 100%;
    overflow-y: auto;
}

.modal-content::after {
    content:"";
    display:block;
    clear:both;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
