$cdemo: #156abb;
#wrapper{
	background-color: #EFEFEF;
	margin: auto;
	
	#records-main { 
		text-align: center;
	}

	#filter-bank{
		text-align: left;
		font:bold 20px serif;
		margin-right: auto;
		margin-left: auto;
		width: 70%;
		border: 2px solid #15508c;
		border-radius: 8px;
	}

	#per-page{
		display:inline;
	}

	#viewSelect-content{
		width:100%;
		margin:auto;
		input[type=radio] {
			display: none;
		}
		label {
			border: outset 1px silver;
			padding: 2px 16px;
			margin-right: -5px;
			background: #ddd;
			cursor: pointer;
		}

		input:checked + label {
			border: inset 1px darken($cdemo, 15%);   
			background: $cdemo;
		}
		.view{
			width:100%;
			height:100%;
		}
	}
	
}
