<!-- <div>
	<a ui-sref="records.state2">State 2</a>
    <ui-view></ui-view>
</div> -->
<div id="wrapper">
	<div id="records-main">
		<div id="search-info">
		 	<h2>___ results found for _________, showing _ - _</h2>
			<search-panel></search-panel>
		 	<filter-bank></filter-bank>
		 	<pagination></pagination>
			
			<div id="viewSelect-content">
			 	<nav id="viewSwitch">
					<input type="radio" name="view" value="grid" id="grid" ng-model="records.value" ng-click="showme=false">
					<label for="grid">grid</label>

					<input type="radio" name="view" value="list" id="list" ng-model="records.value" ng-click="showme=true">
					<label for="list">list</label>
				</nav>  
				<br><br>
				<div>
					<grid-view ng-hide="showme"  item="records.item"></grid-view>
					<list-view ng-show="showme"  item="records.item"></list-view>
				</div>
			</div>

			<pagination></pagination>
		 	<!--<grid-view item="records.item"></grid-view>-->
			<!--<list-view></list-view>-->
	 	</div>
	</div>
</div>