#records-main { 
	background : white;
	text-align: center;
}

#filter-bank{
	text-align: left;
	font:bold 20px serif;
	margin-right: auto;
	margin-left: auto;
	width: 70%;
	border: 2px solid #15508c;
	border-radius: 8px;
}

#per-page{
	display:inline;
}