@import "bourbon/bourbon";

$main-color: #fff;

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Century Gothic", sans;
	//background-color: #156ABB;
}

.test-class {
  color: $main-color;
}


//@import 'features/sample2/sample2';
