@import "../../../../node_modules/angular-date-picker/angular-date-picker.css";
@import "../../shared/variables.scss";


#vdp-reserve-content {

	width: 100%;
	margin: 10px;
	
	div {
		text-align: center;
	}
	
	h1 {
		@include span-columns(12);
		padding: 0;
		margin: 10px;
	}

	#reserve-date {
		@include span-columns(12);

		@include media($desktop) {
			@include span-columns(4);
		}

		input {
			@include default-input();
			width: auto;
		}
	}

	#reserve-time {
		@include span-columns(12);

		@include media($desktop) {
			@include span-columns(4);
		}

		select {
			@include default-select();
		}
	}

	#reserve-info {
		@include span-columns(12);
		margin-top: 20px;

		@include media($desktop) {
			@include span-columns(4);
		}

		td {
			padding: 10px;
			text-align: left;
		}

		input {
			@include default-input();
		}

		input[type=checkbox] {
		    width: auto;
		    height: auto;
			margin: 0;
			padding: 0;
		}
	}

	
	.action-button {
		@include span-columns(12);
		@include media($desktop) {
			@include span-columns(6);
			@include shift(3);
		}
		
		@include default-button();
	}

	.action-button:hover {
		@include default-button-hover();
	}

	.action-button:active {
		@include default-button-active();
	}
}