<div id="vdp-reserve-content">
	<h1>Schedule a time to look at this vehicle</h1>
	<!-- 
		<span class="line-divide"></span>
	 -->
	
	<form id="vdp-reserve-form">
		<section class="cards">
			<div id="reserve-date" class="card">
				<div class="card-header">
					<h2>Select a Date</h2>
				</div>

				<div class="card-copy">
					<date-picker ng-model="reserve.date" format-date="vm.formatDate" parse-date="vm.parseDate" ng-init="reserve.date = vm.date">
					</date-picker></br>
					<input type="text" ng-model="reserve.date" ng-disabled="true">
				</div>
			</div>

			<div id="reserve-time" class="card">
				<div class="card-header">
					<h2>Select a Time</h2>
				</div>

				<div class="card-copy">
					<select ng-model="reserve.hour" ng-init="reserve.hour = vm.hour" ng-options="h for h in vm.hours"></select>
					<select ng-model="reserve.minute" ng-init="reserve.minute = vm.minute" ng-options="m for m in vm.minutes"></select>
					<select ng-model="reserve.ampm" ng-init="reserve.ampm = vm.ampm[1]" ng-options="a for a in vm.ampm"></select>
				</div>
			</div>

			<div id="reserve-info" class="card">
				<div class="card-header">
					<h2>Enter Your Info</h2>
				</div>

				<div class="card-copy">
					<table>
						<tr>
							<td>First Name</td>
							<td><input ng-model="reserve.firstName" type="text" name="reserveFirstName" placeholder="First name..." required></td>
						</tr>
						<tr>
							<td>Last Name</td>
							<td><input ng-model="reserve.lastName" type="text" name="reserveLastName" placeholder="Last name..." required></td>
						</tr>
						<tr>
							<td>Phone</td>
							<td><input ng-model="reserve.phone" type="text" name="reservePhone" placeholder="Phone number..." required></td>
						</tr>
						<tr>
							<td>Email</td>
							<td><input ng-model="reserve.email" type="text" name="reserveEmail" placeholder="Email..." required></td>
						</tr>
						<tr>
							<td colspan="2">
								<input ng-model="reserve.agree" type="checkbox" name="reserveAgree" required>
								By providing my contact information i agree to be contacted by this business about their products and services. i understand i can withdraw this consent at any time
							</td>
						</tr>
					</table>
				</div>
			</div>
		</section>
		<button class="action-button" style="float: right">Submit</button>
	</form>
</div>
