@import "../../shared/variables.scss";


#dealer-content {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	@include media($desktop) {
		width: 80%;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}


	#hours {
		@include span-columns(12);

		@include media($desktop) {
			@include span-columns(4);
		}
		text-align: center;

		table {
			margin-left: auto;
			margin-right: auto;

			td {
				padding: 10px;
			}
		}
	}



	#contact {
		@include span-columns(12);

		@include media($desktop) {
			@include span-columns(4);
		}
		text-align: center;

		li {
			padding: 10px;
		}

		a {
			color: gray;
		}

		a:hover {
			color: black;
		}
	}



	#address {
		@include span-columns(12);

		@include media($desktop) {
			@include span-columns(4);
		}
		text-align: center;

		li {
			padding: 10px;
		}

		button {
			@include default-button();
			width: 60%;
		}

		button:hover {
			@include default-button-hover();
		}

		button:active {
			 @include default-button-active();	
		}
	}
}
