


<div id="dealer-content">
	<section>
		<div id="hours">
			<h2>Hours</h2>
				<table>
				<tr>
					<td>Monday</td>
					<td>9:00am - 5:00pm</td>
				</tr>
				<tr>
					<td>Tuesday</td>
					<td>9:00am - 5:00pm</td>
				</tr>
				<tr>
					<td>Wednesday</td>
					<td>9:00am - 5:00pm</td>
				</tr>
				<tr>
					<td>Thursday</td>
					<td>9:00am - 5:00pm</td>
				</tr>
				<tr>
					<td>Friday</td>
					<td>9:00am - 5:00pm</td>
				</tr>
				<tr>
					<td>Saturday</td>
					<td>Closed</td>
				</tr>
				<tr>
					<td>Sunday</td>
					<td>Closed</td>
				</tr>
			</table>
			 
			
		</div>

		<div id="contact">
			<h2>Contact</h2>
			
			<ul>
				<li>Phone: (403)-555-1234</li>
				<li>Fax: (403)-555-5678</li>
				<li>Email: chev@email.com</li>
				<li><a href="#">Dealer Homepage</a></li>
			</ul>
			
		</div>

		<div id="address">
			<h2>Address</h2>
			
			<ul>
				<li>1700A Waverley Street</li>
				<li>Winnipeg MB, R3T 5V7</li>
			</ul>
			<button id="directions-btn">Directions</button>
			
		</div>
	</section>
</div>

