
<h1>Dealer Info</h1>
<div id="dealer-content">

	<section>
		<div id="hours">
			<h2>Hours</h2>
			<table>
				<tr>
					<td>Monday</td>
					<td>{{vm.hours[0]}}</td>
				</tr>
				<tr>
					<td>Tuesday</td>
					<td>{{vm.hours[1]}}</td>
				</tr>
				<tr>
					<td>Wednesday</td>
					<td>{{vm.hours[2]}}</td>
				</tr>
				<tr>
					<td>Thursday</td>
					<td>{{vm.hours[3]}}</td>
				</tr>
				<tr>
					<td>Friday</td>
					<td>{{vm.hours[4]}}</td>
				</tr>
				<tr>
					<td>Saturday</td>
					<td>{{vm.hours[5]}}</td>
				</tr>
				<tr>
					<td>Sunday</td>
					<td>{{vm.hours[6]}}</td>
				</tr>
			</table>
		</div>

		<div id="contact">
			<h2>Contact</h2>
			
			<ul>
				<li>Phone: {{vm.phone}}</li>
				<li>Fax: {{vm.fax}}</li>
				<li>Email: <a href="mailto:{{vm.email}}"></a>{{vm.email}}</li>
				<li><a href="{{vm.dealerHomePage}}">{{vm.dealerHomePage}}</a></li>
			</ul>
			
		</div>

		<div id="address">
			<h2>Address</h2>
			
			<ul>
				<li>{{vm.street}}</li>
				<li>{{vm.address}}</li>
			</ul>
			<button id="directions-btn">Directions</button>
			
		</div>
	</section>
</div>

