
<h1>Dealer Info</h1>
<div id="dealer-content">

	<section>
		<div id="hours">
			<h2>Hours</h2>
			<table>
				<tr>
					<td>Monday</td>
					<td>{{vm.hours[0]}}</td>
				</tr>
				<tr>
					<td>Tuesday</td>
					<td>{{vm.hours[1]}}</td>
				</tr>
				<tr>
					<td>Wednesday</td>
					<td>{{vm.hours[2]}}</td>
				</tr>
				<tr>
					<td>Thursday</td>
					<td>{{vm.hours[3]}}</td>
				</tr>
				<tr>
					<td>Friday</td>
					<td>{{vm.hours[4]}}</td>
				</tr>
				<tr>
					<td>Saturday</td>
					<td>{{vm.hours[5]}}</td>
				</tr>
				<tr>
					<td>Sunday</td>
					<td>{{vm.hours[6]}}</td>
				</tr>
			</table>
		</div>

		<div id="contact">
			<h2>Contact</h2>
			
			<ul>
				<li>Phone: {{vm.record.telephone}}</li>
				<li>Secondary Phone: {{vm.record.telephone2}}</li>
				<li>Fax: {{vm.record.party_fax}}</li>
				<li>Email: <a href="mailto:{{vm.record.party_email}}">{{vm.record.party_email}}</a></li>
				<li><a href="">Visit Dealer Website</a></li>
			</ul>
			
		</div>

		<div id="address">
			<h2>Address</h2>
			
			<ul>
				<li>{{vm.record.address}}</li>
				<li>{{vm.record.party_city}} {{vm.record.party_province}}, {{vm.record.party_postalcode}}</li>
			</ul>
			<button id="directions-btn">Directions</button>
		</div>
	</section>
</div>

