@import "../../shared/variables.scss";

$bg-color: #156ABB;
//$bg-color: #8cc1f2;

$desktop: new-breakpoint(min-width 1000px);
#dealer-content {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	@include media($desktop) {
		width: 80%;
	}


	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}


	#hours {

		@include span-columns(12);

		@include media($desktop) {
			@include span-columns(4);
		}

		table {
			margin-left: auto;
			margin-right: auto;
			border-collapse: collapse;

			td {
				padding: 10px 3px 10px 3px;
			}
			
			tr {
			    border-bottom: 1px solid #CECECE;
			}
			
			tr:last-child {
			    border-bottom: none;
			}
		}
	}



	#contact {
		@include span-columns(12);

		@include media($desktop) {
			@include span-columns(4);
		}

		li {
			padding: 10px;
		}

		a {
			color: gray;
		}

		a:hover {
			color: black;
		}
	}



	#address {
		@include span-columns(12);

		@include media($desktop) {
			@include span-columns(4);
		}

		li {
			padding: 10px;
		}

		button {
			@include default-button();
			width: 60%;
		}

		button:hover {
			@include default-button-hover();
		}

		button:active {
			@include default-button-active();	
		}
	}



	
}
