@import "../../shared/variables.scss";


#vdp-tradein-content {

	#vdp-tradein-form {
		@include outer-container(100%);
	}

	#tradein-vehicle-info {
		@include span-columns(12);

		@include media($desktop) {
			@include span-columns(6);
		}
	}

	#tradein-info {
		@include span-columns(12);

		@include media($desktop) {
			@include span-columns(6);
		}
	}
	
	h1 {
		@include span-columns(12);
		padding: 0;
		margin: 10px;
	}

	td {
		padding: 10px;
		text-align: left;
	}

	input {
		@include default-input();
	}

	input[type=radio] {
		width: auto;
	}

	select {
		@include default-select();
		width: 100%;
	}
}