<div id="viewSelect-content">
	<nav>
		<input type="radio" name="view" value="grid" id="grid" ng-model="vm.value" ng-click="showme=false">
		<label for="grid">grid</label>

		<input type="radio" name="view" value="list" id="list" ng-model="vm.value" ng-click="showme=true">
		<label for="list">list</label>
	</nav>  
	<div>
		<grid-view ng-hide="showme"></grid-view>
		<list-view ng-show="showme"></list-view>
	</div>
	<!--<nav>
		<input type="radio" name="view" value="grid" id="grid" ng-model="vm.value" ng-change="vm.gridClick()">
		<label for="grid">grid</label>

		<input type="radio" name="view" value="list" id="list" ng-model="vm.value" ng-change="vm.listClick()">
		<label for="list">list</label>
	</nav>
	<br>
	<div id="view">
		<grid-view id="gridView"></grid-view>
		<list-view id="listView"></list-view>
	</div>-->
</div>
