<div id="info-content">
	<ul class="accordion-tabs">
		<li class="tab-header-and-content" ng-click="vm.tabClick(1)">
			<a href="javascript:void(0)" id="tab-1" class="tab-link is-active">Overview</a>
			<div class="tab-content" id="tab-1-content">
				<table>
					<tr>
						<td>Price</td>
						<td>{{vm.item.price | currency}}</td>
					</tr>
					<tr>
						<td>Make</td>
						<td>{{vm.item.make}}</td>
					</tr>
					<tr>
						<td>Model</td>
						<td>{{vm.item.model}}</td>
					</tr>
					<tr>
						<td>Year</td>
						<td>{{vm.item.year}}</td>
					</tr>
					<tr>
						<td>Condition</td>
						<td>{{vm.item.condition}}</td>
					</tr>
					<tr>
						<td>Odometer</td>
						<td>{{vm.item.odemeter | number}}</td>
					</tr>
					<tr>
						<td>MPG (City)</td>
						<td>{{vm.item.fuel_economy_city}}</td>
					</tr>
					<tr>
						<td>MPG (Hwy)</td>
						<td>{{vm.item.fuel_economy_hwy}}</td>
					</tr>
					<tr>
						<td>Fuel Type</td>
						<td>{{vm.item.fuel_type}}</td>
					</tr>
					<tr>
						<td>Exterior</td>
						<td>{{vm.item.exterior}}</td>
					</tr>
					<tr>
						<td>Interior</td>
						<td>{{vm.item.interior}}</td>
					</tr>
					<tr>
						<td>Engine</td>
						<td>{{vm.item.engine}}</td>
					</tr>
					<tr>
						<td>Transmission</td>
						<td>{{vm.item.transmission}}</td>
					</tr>
					<tr>
						<td>Body Type</td>
						<td>{{vm.item.body_type}}</td>
					</tr>
					<tr>
						<td>Drivetrain</td>
						<td>{{vm.item.drivetrain}}</td>
					</tr>
					<tr>
						<td>Trim</td>
						<td>{{vm.item.trim}}</td>
					</tr>
					<tr>
						<td>Vin</td>
						<td>{{vm.item.vin}}</td>
					</tr>
					<tr>
						<td>Stock #</td>
						<td>{{vm.item.stock_number}}</td>
					</tr>
				</table>
			</div>
		</li>
		<li class="tab-header-and-content" ng-click="vm.tabClick(2)">
			<a href="javascript:void(0)" id="tab-2" class="tab-link">Features</a>
			<div class="tab-content" id="tab-2-content">
				<input type="search" ng-model="feature.search" placeholder="Search features" />
				<ul id="feature-list">
					<li ng-repeat="feature in vm.item.feature | filter : feature.search">
						{{feature}}
					</li>
				</ul>
			</div>
		</li>
		<li class="tab-header-and-content" ng-click="vm.tabClick(3)">
			<a href="javascript:void(0)" id="tab-3" class="tab-link">Warranty</a>
			<div class="tab-content" id="tab-3-content">
				<table>
					<tr>
						<td>Basic Years</td>
						<td>{{vm.basicYears}}</td>
					</tr>
					<tr>
						<td>Basic Miles/km</td>
						<td>{{vm.basicMiles}}</td>
					</tr>
					<tr>
						<td>Drivetrain Years</td>
						<td>{{vm.drivetrainYears}}</td>
					</tr>
					<tr>
						<td>Drivetrain Miles/km</td>
						<td>{{vm.drivetrainMiles}}</td>
					</tr>
					<tr>
						<td>Corrosion Years</td>
						<td>{{cm.corrosionYears}}</td>
					</tr>
					<tr>
						<td>Corrosion Miles</td>
						<td>{{vm.corrosionMiles}}</td>
					</tr>
					<tr>
						<td>Hybrid/Electric Components Years</td>
						<td>{{vm.hybridYears}}</td>
					</tr>
					<tr>
						<td>Hybrid/Electric Components Miles/km</td>
						<td>{{vm.hybridMiles}}</td>
					</tr>
					<tr>
						<td>Hybrid/Electric Components Note</td>
						<td>{{vm.hybridNote}}</td>
					</tr>
					<tr>
						<td>Roadside Assistance Years</td>
						<td>{{vm.roadsideYears}}</td>
					</tr>
					<tr>
						<td>Roadside Assistance Miles/km</td>
						<td>{{vm.roadsideMiles}}</td>
					</tr>
				</table>
			</div>
		</li>
		<li class="tab-header-and-content" ng-click="vm.tabClick(4)">
			<a href="javascript:void(0)" id="tab-4" class="tab-link">Safety</a>
			<div class="tab-content" id="tab-4-content">
				<p>Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus dui urna.</p>
			</div>
		</li>
		</ul>
</div>
