<div id="info-content">
	<ul class="accordion-tabs">
		<li class="tab-header-and-content" ng-click="vm.tabClick(1)">
			<a href="javascript:void(0)" id="tab-1" class="tab-link is-active">Overview</a>
			<div class="tab-content" id="tab-1-content">
				<table>
					<tr>
						<td>Price</td>
						<td>{{vm.price}}</td>
					</tr>
					<tr>
						<td>Make</td>
						<td>{{vm.make}}</td>
					</tr>
					<tr>
						<td>Model</td>
						<td>{{vm.model}}</td>
					</tr>
					<tr>
						<td>Year</td>
						<td>{{vm.year}}</td>
					</tr>
					<tr>
						<td>Odometer</td>
						<td>{{vm.odometer}}</td>
					</tr>
					<tr>
						<td>Transmission</td>
						<td>{{vm.transmission}}</td>
					</tr>
					<tr>
						<td>Drivetrain</td>
						<td>{{vm.drivetrain}}</td>
					</tr>
					<tr>
						<td>Exterior</td>
						<td>{{vm.exterior}}</td>
					</tr>
					<tr>
						<td>Interior</td>
						<td>{{vm.interior}}</td>
					</tr>
					<tr>
						<td>Vin</td>
						<td>{{vm.vin}}</td>
					</tr>
					<tr>
						<td>Stock #</td>
						<td>{{vm.stocknum}}</td>
					</tr>
				</table>
			</div>
		</li>
		<li class="tab-header-and-content" ng-click="vm.tabClick(2)">
			<a href="javascript:void(0)" id="tab-2" class="tab-link">Features</a>
			<div class="tab-content" id="tab-2-content">
				<ul id="feature-list">
					<li ng-repeat="feature in vm.features">
						{{feature}}
					</li>
				</ul>
			</div>
		</li>
		<li class="tab-header-and-content" ng-click="vm.tabClick(3)">
			<a href="javascript:void(0)" id="tab-3" class="tab-link">Warranty</a>
			<div class="tab-content" id="tab-3-content">
				<table>
					<tr>
						<td>Basic Years</td>
						<td>{{vm.basicYears}}</td>
					</tr>
					<tr>
						<td>Basic Miles/km</td>
						<td>{{vm.basicMiles}}</td>
					</tr>
					<tr>
						<td>Drivetrain Years</td>
						<td>{{vm.drivetrainYears}}</td>
					</tr>
					<tr>
						<td>Drivetrain Miles/km</td>
						<td>{{vm.drivetrainMiles}}</td>
					</tr>
					<tr>
						<td>Corrosion Years</td>
						<td>{{cm.corrosionYears}}</td>
					</tr>
					<tr>
						<td>Corrosion Miles</td>
						<td>{{vm.corrosionMiles}}</td>
					</tr>
					<tr>
						<td>Hybrid/Electric Components Years</td>
						<td>{{vm.hybridYears}}</td>
					</tr>
					<tr>
						<td>Hybrid/Electric Components Miles/km</td>
						<td>{{vm.hybridMiles}}</td>
					</tr>
					<tr>
						<td>Hybrid/Electric Components Note</td>
						<td>{{vm.hybridNote}}</td>
					</tr>
					<tr>
						<td>Roadside Assistance Years</td>
						<td>{{vm.roadsideYears}}</td>
					</tr>
					<tr>
						<td>Roadside Assistance Miles/km</td>
						<td>{{vm.roadsideMiles}}</td>
					</tr>
				</table>
			</div>
		</li>
		<li class="tab-header-and-content" ng-click="vm.tabClick(4)">
			<a href="javascript:void(0)" id="tab-4" class="tab-link">Safety</a>
			<div class="tab-content" id="tab-4-content">
				<p>Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus dui urna.</p>
			</div>
		</li>
		</ul>
</div>
