<div id="main">
	Show
	<select ng-model="vm.perPage">
    	<option value="5">5</option>
		<option value="10">10</option>
		<option value="15">15</option>
		<option value="20">20</option>
		<option value="25">25</option>
    </select>
    {{vm.perPage}}
	per page
	
	<br><br>

	<div class="center">
		<ul id="pagination">
		  <li><a href=""><<</a></li>
		  <li><a href="">1</a></li>
		  <li><a href="">2</a></li>
		  <li><a href="">3</a></li>
		  <li><a href="">4</a></li>
		  <li><a href="">5</a></li>
		  <li><a href="">>></a></li>
		</ul>
	</div>
</div>