@import "../../bourbon/bourbon";
@import "../../neat/neat";

$desktop: new-breakpoint(min-width 800px);
$cdemo: #156abb;
#main{

	@include outer-container(90%);
	.per{
		@include span-columns(12 of 12);
		@include media($desktop){
			@include span-columns(4 of 12);
			@include omega(3n);
		}
		width:100%;
		margin:auto;
	}
	.pag{
		@include span-columns(12 of 12);
		@include media($desktop){
			@include span-columns(4 of 12);
			@include omega(3n);
		}
		width:100%;
		margin:auto;
		display:inline;
		padding-bottom: 10px;
		//margin:0;

		//the active page within pagination
		li.ng-scope.active{
			a{
			background:$cdemo;
			border: solid 1px black;
			}
		}

		li{
			display:inline;
			a{
				text-decoration:none;
				background:lightgrey;
				padding:8px;
				margin:0 0px 0 0px;
				color: black;
				border: solid 1px grey;
			}
			a:hover{
				background:white;
			}
		}
	}
	//the view switch button from within viewSelect component, in here for neat
	.viewSwitch{
		@include span-columns(12 of 12);
		@include media($desktop){
			@include span-columns(4 of 12);
			@include omega(3n);
		}
		width:100%;
		margin:auto;
	}
}