<div id="main">
	
	<div class="per">
		<br>
		Show
		<select ng-model="vm.pageSize" ng-init="pageSize = options[2]">
	    	<option value="5">5</option>
			<option value="10">10</option>
			<option value="15">15</option>
			<option value="20">20</option>
			<option value="25">25</option>
	    </select>
	    {{vm.pageSize}}
		per page
	</div>
	<dir-pagination-controls class="pag" boundary-links="true" on-page-change="vm.pageChangeHandler(newPageNumber)"></dir-pagination-controls>
	<!--<div class="pag">
		<ul id="pagination">
		  <li><a href=""><<</a></li>
		  <li><a href="">1</a></li>
		  <li><a href="">2</a></li>
		  <li><a href="">3</a></li>
		  <li><a href="">4</a></li>
		  <li><a href="">5</a></li>
		  <li><a href="">>></a></li>
		</ul>
	</div>-->
	<br>
	<div id="views"><view-select></view-select></div>
</div>