@import "../../bourbon/bourbon";
@import "../../neat/neat";

$desktop: new-breakpoint(min-width 800px);
#main{

	@include outer-container(90%);
	.per{
		@include span-columns(7 of 8);
		@include media($desktop){
			@include span-columns(3 of 8);
		}
	}
	.pag{
		@include shift (1 of 8);
		@include span-columns(7 of 8);
		@include media($desktop){
			@include span-columns(3 of 8);
		}
		display:inline-block;
		padding:0;
		margin:0;
		li{
			display:inline;
			a{
				float:left;
				text-decoration:none;
				background:lightgrey;
				padding:5px;
				color: black;
				border: solid 1px grey;
			}
			a:hover{
				background:white;
			}
		}
	}
	div.center{
		display: inline-block;
	}
}