<div id="images-content">
	<h1 style="margin-top: 10px">{{vm.record.title}}</h1>
 	
 	
 	<div id="slideshow">
 		<span ng-repeat="media in vm.pictures">
 			<img class="mySlides" style="display: none;" alt="{{media.seo_alt}}" title="{{media.seo_title}}" ng-src="http://static.cdemo.com/625165/1024/{{media.photo_name}}" ng-click="vm.showImage()">
 		</span>
 	</div>
	
	
	<div id="slideshow-buttons">
		<button class="slideshow-button" ng-click="vm.plusDivs(-1)">❮ Prev</button>
	   	<button class="slideshow-button" ng-click="vm.plusDivs(1)">Next ❯</button>
	</div>


	<div id="image-modal" class="img-modal" ><!-- onclick="this.style.display='none'"> -->
		<span class="close-button w3-hover-red w3-text-white" ng-click="vm.closeModal()">&times;</span>
		<div class="image-modal-content image-animate-zoom" ng-click="vm.closeModal()">
			<img id="modal-image" style="width:100%">
		</div>
		<div id="modal-slideshow-buttons">
			<button class="modal-slideshow-button" id="modal-slideshow-button-left" ng-click="vm.plusModal(-1)">❮ Prev</button>
		   	<button class="modal-slideshow-button" id="modal-slideshow-button-right" ng-click="vm.plusModal(1)">Next ❯</button>
		</div>
	</div>
</div>