@import "../../shared/variables.scss";

$bg-color: #156ABB;
$a-color: #FFFFFF;


.footer-content {
	@include outer-container(100%);
	//position: fixed;
	//bottom: 0;
	//left: 0;
	width: 100%;
	min-height: 50px;
	background: $bg-color;
	color: $a-color;
	padding: 25px;
	border-top: 1px solid white;
	
	#copyright {
		@include span-columns(12);

		@include media($desktop) {
			@include span-columns(6);
		}
		
		padding: 10px;
		width: 100%;
		display: inline-block;
		text-align: center;
	}

	#links {
		@include span-columns(12);

		@include media($desktop) {
			@include span-columns(6);
		}
		
		padding: 10px;
		width: 100%;
		display: inline-block;
		text-align: center;

		a {
			text-decoration: none;
			color: $a-color;
			vertical-align: middle;
		}

		a:hover {
			color: darken($a-color, 25%);
		}
	}
}