<div id="search-panel">

	<!-- Trigger/Open The Modal -->
	<button id="myBtn" class="action-button" ng-click="vm.openModal()">Reserve</button>

	<!-- The Modal fade-->
	<div id="myModal" class="modal-fade-screen" ng-click="vm.closeModal()"></div>
	<!-- Modal content -->
	<div id="myContent" class="modal">
		<span class="close" ng-click="vm.closeModal()">x &nbsp</span>
		
		<form action="search">
			<legend>Search Options:</legend>
				<div class="options">
				<br><br>
			  	<h3>Search Term</h3>
			  	<input type="text" name="term"></input>
			  	<hr>
			  	<h3>Category</h3>
			  	<input type="select"></input>
			  	<hr>
			  	<h3>Make</h3>
			  	<input type="select"></input>
			  	<hr>
			  	<h3>Model</h3>
			  	<input type="select"></input>
			  	<hr>
			  	<h3>Price (slider)</h3>
			  	<input type="number"></input>
			  	<input type="number"></input>
			  	<hr>
			  	<h3>Kilometers(slider)</h3>
			  	<input type="number"></input>
			  	<input type="number"></input>
			  	<hr>
			  	<h3>Year (slider)</h3>
			  	<input type="number"></input>
			  	<input type="number"></input>
			  	<hr>
			  	<h3>Transmission</h3>
			  	<input type="select"></input>
			  	<hr>
				<h3>Engine</h3>
				<input type="select"></input>
				<hr>
				<h3>Trim</h3>
				<input type="select"></input>
				<hr><br><br>
			</div>
			<div class="buttons">
				<input type="reset"></input>
				<input type="submit"></input>
			</div>
		</form>

	</div>

</div>