<div id="search-panel">
	<!-- Trigger/Open The Modal -->
	<button id="searchBtn" class="action-button" ng-click="vm.openModal()">🔍 </button>
	<!-- The Modal fade-->
	<div id="myModal" class="modal-fade-screen" ng-click="vm.closeModal()"></div>
	<!-- Modal content -->
	<div id="myContent" class="modal">
		<form action="search">
			<div class="options">
				<span class="close" ng-click="vm.closeModal()">X &nbsp</span>
			  	<h3>Search Term</h3>
			  	<input type="text" name="term"></input>
			  	<hr>
			  	<h3>Category</h3>
			  	<input type="select"></input>
			  	<hr>
			  	<h3>Make</h3>
			  	<input type="select"></input>
			  	<hr>
			  	<h3>Model</h3>
			  	<input type="select"></input>
			  	<hr>
			  	<h3>Price (slider)</h3>
			  	<input type="range"></input>
			  	<hr>
			  	<h3>Kilometers(slider)</h3>
			  	<input type="range"></input>
			  	<hr>
			  	<h3>Year (slider)</h3>
			  	<input type="range"></input>
			  	<hr>
			  	<h3>Transmission</h3>
			  	<input type="select"></input>
			  	<hr>
				<h3>Engine</h3>
				<input type="select"></input>
				<hr>
				<h3>Trim</h3>
				<input type="select"></input>
				<hr>
				<h3>Trim</h3>
				<input type="select"></input>
				<hr>
				<h3>Trim</h3>
				<input type="select"></input>
			</div>
			<div class="buttons">
				<button type="reset" id="reset">Reset</button>
				<button type="submit" id="submit">Submit</button>
			</div>
		</form>
	</div>
</div>
