<div id="search-panel">
	<!-- Trigger/Open The Modal -->
	<button id="searchBtn" class="action-button" ng-click="vm.openModal()">🔍 </button>
	<!-- The Modal fade-->
	<div id="myModal" class="modal-fade-screen" ng-click="vm.closeModal()"></div>
	<!-- Modal content -->
	<div id="myContent" class="modal">
		<span class="close" ng-click="vm.closeModal()">X &nbsp</span>
		<form action="search">
			<div class="options">
			  	<h3>Search Term</h3>
			  	<input class="search" type="text" name="term" placeholder=" 🔍  Search term"></input>
			  	<hr>
			  	<h3>Category</h3>
			  	<input type="select" placeholder="Any category"></input>
			  	<hr>
			  	<h3>Make</h3>
			  	<input type="select" placeholder="Any Make"></input>
			  	<hr>
			  	<h3>Model</h3>
			  	<input type="select" placeholder="Any Model"></input>
			  	<hr>

			  	<h3>Price (slider)</h3><br>
	            <rzslider rz-slider-model="vm.priceRangeSlider.minValue" rz-slider-high="vm.priceRangeSlider.maxValue" rz-slider-options="vm.priceRangeSlider.options" style="width:80%; margin: auto;"></rzslider>
				<br><br>Min Value: $
	            <input type="number" ng-model="vm.priceRangeSlider.minValue" step="10000"/>
	            <br>Max Value: $
	            <input type="number" ng-model="vm.priceRangeSlider.maxValue" step="10000"/>
			  	<hr>
			  	
			  	<h3>Kilometers(slider)</h3><br>
			  	<rzslider rz-slider-model="vm.kmRangeSlider.minValue" rz-slider-high="vm.kmRangeSlider.maxValue" rz-slider-options="vm.kmRangeSlider.options" style="width:80%; margin: auto;"></rzslider>
				<br><br>Min Value:
	            <input type="number" ng-model="vm.kmRangeSlider.minValue" step="10000" />
	            <br>Max Value:
	            <input type="number" ng-model="vm.kmRangeSlider.maxValue" step="10000" />
			  	<hr>

			  	<h3>Year (slider)</h3><br>
			  	<rzslider rz-slider-model="vm.yearRangeSlider.minValue" rz-slider-high="vm.yearRangeSlider.maxValue" rz-slider-options="vm.yearRangeSlider.options" style="width:80%; margin: auto;"></rzslider>
				<br><br>Min Value:
	            <input type="number" ng-model="vm.yearRangeSlider.minValue" step="1" />
	            <br>Max Value:
	            <input type="number" ng-model="vm.yearRangeSlider.maxValue" step="1" />
			  	<hr>

			  	<h3>Transmission</h3>
			  	<input type="select" placeholder="Any transmission"></input>
			  	<hr>
				<h3>Engine</h3>
				<input type="select" placeholder="Any engine"></input>
				<hr>
				<h3>Trim</h3>
				<input type="select" placeholder="Any trim"></input>
				<hr>
				<h3>Trim</h3>
				<input type="select" placeholder="Any trim"></input>
				<hr>
				<h3>Trim</h3>
				<input type="select" placeholder="Any trim"></input>
			</div>
			<div class="buttons">
				<button type="reset" id="reset">Reset</button>
				<button type="submit" id="submit">Submit</button>
			</div>
		</form>
	</div>
</div>
