{{vm.pageSize}}
<div class="listview-content" dir-paginate="x in vm.item| itemsPerPage:10">
	<div class="list">
		<div class="title"><h1>{{x.title}}</h1><hr></div>
		<img class="image" src="http://o.aolcdn.com/commerce/autodata/images/USC60HOC021A121001.jpg">
		<div class="details">
	    	<p>Price: {{x.price}}</p>
        	<p>Odometer: {{x.odemeter}}</p>
        	<p>Exterior: {{x.exterior}}</p>
        	<p>Drivetrain: {{x.drivetrain}}</p>
	    </div>
	</div>
</div>

<!--<div class="listview-content">
	<div class="list">
		<div class="title"><h1>Honda Civic AWD 4Dr SDN</h1><hr></div>
		<img class="image" src="http://o.aolcdn.com/commerce/autodata/images/USC60HOC021A121001.jpg">
		<div class="details">
	    	<h3>Price: $25 000<br>Odometer: 15 000 Km<br>Exterior: Silver<br>Interior: Black Leather</h3>
	    </div>
	</div>

	<div class="list">
		<div class="title"><h1>Honda Civic AWD 4Dr SDN</h1><hr></div>		
		<img class="image" src="http://o.aolcdn.com/commerce/autodata/images/USC60HOC021A121001.jpg">
		<div class="details">
	    	<h3>Price: $25 000<br>Odometer: 15 000 Km<br>Exterior: Silver<br>Interior: Black Leather</h3>
	    </div>
	</div>
</div>-->
