@import "../../bourbon/bourbon";
@import "../../neat/neat";

$desktop: new-breakpoint(min-width 700px); //this will activate on big screen

.listview-content{
	.list{
		@include outer-container(80%);
		margin-right: auto;
		margin-left: auto;

		border: 2px solid grey;
		border-radius: 4px;
		margin-bottom: 15px;
		background: #DEDEDE;


		.title{
			@include fill-parent();
			
			h1{
				margin:5px;
			}
			hr{
				width:90%;
			}
		}

		.image{
			height: 80%;
			width: 80%;
			max-height: 450px;
			max-width: 550px;
			margin: auto;
			padding:5px;
			@include span-columns(8 of 8);
			@include media($desktop){
				@include span-columns(5 of 8);
			}
		}

		.details{ 
			@include fill-parent();
				@include media($desktop){
					@include span-columns(3 of 8);				
				}
			text-align: left;
			vertical-align: top;
			h3{
				margin: 5px;
			}
		}
	}
}
