<div class="listview-content">
	<div class="list">
		<div class="title"><h1>Honda Civic AWD 4Dr SDN</h1><hr></div>
		<img class="image" src="http://o.aolcdn.com/commerce/autodata/images/USC60HOC021A121001.jpg">
		<div class="details">
	    	<h3>Price: $25 000<br>Odometer: 15 000 Km<br>Exterior: Silver<br>Interior: Black Leather</h3>
	    </div>
	</div>

	<div class="list">
		<div class="title"><h1>Honda Civic AWD 4Dr SDN</h1><hr></div>		
		<img class="image" src="http://o.aolcdn.com/commerce/autodata/images/USC60HOC021A121001.jpg">
		<div class="details">
	    	<h3>Price: $25 000<br>Odometer: 15 000 Km<br>Exterior: Silver<br>Interior: Black Leather</h3>
	    </div>
	</div>
</div>
